* {
    box-sizing: center-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: rgba(255, 255, 255, 0.762);
    border-radius: 40px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    box-shadow: 5px 5px 10px black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

.conversao {
    background-color: rgba(0, 255, 242, 0.708);
    border-radius: 40px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
    padding: 20px; 
    text-align: center;
    width: 300px;
}

div {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    /*margin: top direita baixo esquerda*/
}

h2 {
    font-size: 25px;
}

label {
    height: 25px;
    max-height: 25px;
}

input {
    width: 180px;
    height: 25px;
}

.input-button {
    background-color: rgb(70, 231, 70);
    font-size: 20px;
    margin: 8px 3px 3px 3px;
    width: 120px;
}

.input-number {
    font-size: 20px;
}